
.coldive{
  width:25%
}
.rowBar{
  border-radius: 1vw;
  border: 0.1vw;
  border-style: solid;
  border-color: grey;
  margin: 1.5vw;
  box-shadow: 0 1vw 2vw 0 rgba(0, 0, 0, 0.2), 0 1.5vw 6vw 0 rgba(0, 0, 0, 0.19);
}

.rowContainer{
  display: flex;
  flex-direction:row;
  justify-content: center;
}

.bar_control{
  width:100%;

}

@media screen and (max-width:1500px){
  .App {
    background-color: whitesmoke;
  }

@media screen and (max-width:800px){
    .pie_control{
      width:'25%';
      height:200px !important;
    }
  }

@media screen and (max-width : 420px){
  .pie_control{
    height:200px !important;
    width:'50%'!important;
  }
  .coldive{
    width:50%
  } 
}


}
